.container {
    padding: 2rem 1rem;
}

.title {
    color: var(--white10);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.cardsWrapper {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 0.2rem;
}